@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  background-color: #f1f5f9;
  transition: background-color 0.2s ease;
}

.dark body {
  background-color: #020617;
}
